#crr_list tbody tr:hover 
{
    background-color:yellow;
}

#history_body tr:hover td:nth-last-child(1),
#history_body tr:hover td:nth-last-child(2),
#history_body tr:hover td:nth-last-child(3)
{
    background-color:yellow;
}

div.nte-wrapper 
{
  width: 100%;
  min-height: 300px;
  overflow: auto;
}
table th 
{
    text-align: center;
}

.hidden {
  display: none;
}

div.crr
{
  height: 300px;
  overflow-x: auto;
}

.custom-combobox 
{
    position: relative;
    display: inline-block;
}
.custom-combobox-toggle 
{
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}
.custom-combobox-input 
{
    margin: 0;
    padding: 5px 10px;
}
.icon-cog 
{
    color: blue;
}
.ui-autocomplete 
{ 
    max-height: 200px; 
    overflow-y: auto; 
    overflow-x: hidden; 
}

#container_message
{
  display: none;
  cursor: pointer;
  text-align: center;
}

.inthemiddle
{
  text-align: center;
}

table th.red
{
   background-color: red; 
   color: white; 
   border:1px solid black;
}

.btndanger
{
  height: 26px;
  font-size: 10px;
  font-weight: bold;
  width: 70px;
  background-color: #d2322d;
}

div.data
{
  padding: 15px;
}

.data
{
  border: 1px solid black;
}

.hand
{
  cursor: pointer;
}

.logo
{
  vertical-align: 150%;
}

.documentname 
{
  position: relative; left:75%;
}

.even 
{
  background: #CCC;
}

.odd 
{
  background: #fff3ed;
}

.nte-row-container
{
  width: 300px;
}

.nte-row-upload
{
  width: 30px;
  padding: 3px 3px;
  font-size: 15px;
  font-weight: bolder;
}

.input-group-addon {
  padding: 5px 12px;
}