@media print{
    .noprint {
        display:none;
    }
}


@media screen
{

}


label{
    text-transform: uppercase;
}
.fileinput-button input {
    cursor: pointer;
    direction: ltr;
    font-size: 200px !important;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.fileinput-button {
    display: inline-block;
    overflow: hidden;
    position: relative;
}
input[type="file"] {
    display: block;
}
.form_container {
    padding: 15px 15px 15px 15px;
    background: #ebebeb;
    margin: 0 0 10px 0;
    width: 970px;
    border-radius: 5px;
    -webkit-box-shadow: 7px 7px 15px -5px rgba(0,0,0,0.36);
    -moz-box-shadow: 7px 7px 15px -5px rgba(0,0,0,0.36);
    box-shadow: 7px 7px 15px -5px rgba(0,0,0,0.36);
}
.row_form_container{
    width: 484px;
    float: left;
}
.row3_form_container{
    width: 945px;
    float: left;
}
.row2_form_container{
    width: 484px;
    float: left;
    padding-top: 40px;
}
.col3_form_container{
    width: 484px;
    float: right;
}
.col1_form_container{
    width: 200px;
    float: left;
    padding-left: 17px;
    margin-left:12px;
}
.col2_form_container{
    width: 241px;
    float: left;
    padding-left: 0px;
}
.col4_form_container{
    width: 120px;
    float: left;
}
.col5_form_container{
    width: 341px;
    float: left;
    padding-left: 0px;
}
.col6_form_container{
    width: 100px;
    float: left;
    padding-left: 0px;
}
.col7_form_container{
    width: 160px;
    float: left;
    padding-left: 17px;
    margin-left:12px;
}
.col8_form_container{
    width: 240px;
    float: left;
    margin-left:5px;
}
.col9_form_container{
    width: 250px;
    float: left;
    padding-left: 17px;
    margin-left:27px;
}
.col10_form_container{
    width: 240px;
    float: left;
    margin-left:176px;
}
.col2_checkbox{
    width: 25px;
    float: left;
}

.labels{
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 12px;
    text-transform: none;
}
.labels1{
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 12px;
    padding-left: 48px;
}
.cbr_form_title{
    padding-left: 293px;
    padding-bottom: 20px;
    font-size: 12px;
    font-weight: bold;
}
.form_title{
    padding-left: 338px;
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
}
.form_label{
    text-align: center;
    padding-left: 17px;
    padding-bottom: 20px;
    font-size: 12px;
    font-weight: bold;
}
.pmarf_textarea_labels{
    text-align: center;
    padding-left: 17px;
    font-size: 12px;
}
.col_checkbox{
    width: 40px;
    float: left;
    padding-left: 17px;
    margin-left:12px;
}

.checkbox_label{
    width: 845px;
    float: left;
}
.checkbox2_label{
    width: 200px;
    float: left;
}
.checkbox3_label{
    width: 170px;
    float: left;
}
.checkbox4_label{
    width: 190px;
    float: left;
    margin-left: 10px;
}
.checkbox5_label{
    width: 40px;
    float: left;
    margin-left: 10px;
}
.others{
    width: 146px;
    float: left;
    margin-left: 10px;
}
.agency_textbox{
    width: 180px;
    float: left;
}
.checkbox_container{
    width: 907px;
    float: left;
}
.textarea{
    padding-left: 17px;
    margin-left:12px;
}
.textarea_width{
    width: 880px;
}
.textarea_messages_width{
    width: 600px;
}
.textarea_messages_container{
    width: 880px;
    border: 1px solid #c7c5c7;
    margin-left: 28px;
    padding-top: 5px;
    padding-bottom: 10px;
}
.pmarf_textarea{
    margin-left:12px;
    margin-top: 2px;
    width: 915px;
    margin-top: 1px;
}
.border{
    border: 1px solid;
}
.textarea_inside_label{
    width: 80px;
    float: left;
    padding-left: 5px;
    margin-left: 15px;
    font-weight: bold;
    font-size: 12px;
}
.textarea_inside_width{
    width: 765px;
    float: left;
}
.form_note{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 11px;
    padding-left: 29px;
    font-weight: normal;
}
.attachment_note{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 12px;
    padding-left: 17px;
    font-weight: normal;
    font-family: Arial;
}
.tac{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 11px;
    padding-left: 17px;
    font-weight: normal;
    text-align: center;
}
.attachment_container{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 11px;
    padding-left: 17px;
    font-weight: normal;
    width: 440px;
}
.sample_file{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 9px;
    font-weight: normal;
    width: 200px;
}
.delete_file{
    display: inline-block;
    margin-bottom: 5px;
    font-weight: normal;
    width: 200px;
}
.comment_notes{
    width: 600px;
    float: left;
}
.comment_button{
    width: 278px;
    float: left;
    padding-left: 210px;
}
.comment_container{
    width: 880px;
    margin-left: 46px;
}
.button_notes{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: normal;
}
.btndefault{
    height: 26px;
    font-size: 12px;
    font-weight: bold;
    background-color: #e9e7e9;
}
.pmarf_buttons{
    height: 26px;
    font-size: 12px;
    font-weight: bold;
    width: 90px;
    background-color: #e9e7e9;
}
.acknowledge_btn{
    height: 26px;
    font-size: 10px;
    font-weight: bold;
    width: 100px;
    background-color: #e9e7e9;
}
.acknowledge_btn_spacing{
    width: 270px;
    float: left;
    padding-left: 178px;
}
.back_center_btn{
    height: 26px;
    font-size: 10px;
    font-weight: bold;
    width: 30px;
    background-color: #e9e7e9;
    padding-left: 430px;
}
.pmarf_buttons_spacing{
    width: 278px;
    float: left;
    padding-left: 186px;
}
.btnbrowse{
    height: 26px;
    font-size: 12px;
    font-weight: bold;
    width: 70px;
    padding-left: 2px;
}
.btnAddDep{
    height: 26px;
    font-size: 10px;
    font-weight: bold;
}
.extra_labels{
    width: 150px;
    float: left;
    padding-left: 17px;
    margin-left:35px;
}
.textbox_sm{
    width: 30px;
    float: left;
}
.tbl{
    width: 798px;
    padding-left: 52px;
}
.tbl2{
    width: 909px;
    padding-left: 52px;
}
.tbl3{
    height: 40px;
    width: 909px;
    padding-left: 52px;
}
.th_style{
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}
.pm_txtbox{
    width: 204px;
    margin-left: 7px;
}
.pm_dd{
    width: 100px;
    margin-left: 2px;
}
.td_height{
    height: 30px;
}
.td_style{
    font-weight: normal;
    font-size: 12px;
    padding-left: 5px;
}
.cbr_review_td_style{
    font-weight: normal;
    font-size: 12px;
    padding-left: 8px;
}
.td_pm_style{
    font-weight: normal;
    font-size: 12px;
}
.border_bottom{
    border-bottom: 1px solid;
}
.placeholders{
    text-align: center;
}
.itext{
    color: #7f7d6d;
}
.tbl_listing_container {
    padding: 15px 15px 15px 15px;
    margin: 0 0 10px 0;
    width: 970px;
    border-radius: 5px;
}
.centeredtext{
    text-align: center;
}
#cbr_list{
    width: 100%;
    font-size: 12px;
}
.assignto{
    width: 164px;
    height: 29px;
    margin-left: 10px;
}
.btn2{
    height: 28px;
    font-size: 12px;
    font-weight: bold;
    width: 82px;
}
.btnacknowledge{
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    width: 210px;
    margin-left: 67px;
}
.btnback{
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    width: 80px;
    margin-left: 797px;
}
.pmarf_form_title{
    margin-left: 360px;
}
.pm_form_title{
    margin-left:340px;
}
.cc_form_title{
    margin-left:340px;
}
.quantity{
    width: 220px;
}
.quantity_textbox{
    width: 200px;
    margin-left: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.product_textbox{
    width: 454px;
    margin-left: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.pmarf_btns{
    width: 180px;
    margin-top: 10px;
    margin-left: 12px;
}
.pmarf_dropdown_labels{
    width: 200px;
    float: left;
}
.return_to_label{
    width: 100px;
    float: left;
}
.radiobutton_container{
    width: 590px;
    float: left;
    margin-left: 212px;
}
.radiobtn{
    width: 150px;
    float: left;
}
.ete_btns{
    width: 270px;
    margin-top: 10px;
    margin-left: 30px;
}
.panel_width{
    margin-left:30px;
    width: 915px;
}
.panel_text{
    font-size: 12px;
}
.te_textarea_labels{
    text-align: center;
    padding-left:20px;
    font-size: 10px;

}
.p_rate{
    padding-left: 200px;
}
.pcv{
    border: 1px solid;
    width: 910px;
    margin-left: 13px;
}
.pcv_footer{
    border: 1px solid;
    width: 910px;
    margin-left: 13px;
    padding-left: 300px;
}
.pcv_footnote{
    padding-left: 400px;
    padding-top: 20px;
}
.overall_rate{
    padding-left: 380px;
    padding-top: 20px;
}
.total_weigh{
    padding-left: 600px;
    padding-top: 10px;
}
.overall_rate_po{
    padding-left: 410px;
    padding-top: 10px;
}
.pcv_rating{
    padding-left: 664px;
    padding-top: 5px;
}
.tbl_te{
    width: 776px;
    margin-left: 13px;
}
.tbl_pm_questions{
    width: 910px;
    margin-left: 13px;
}
.td_radios{
    width: 80px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}
.th_left{
    text-align: left;
    padding-left: 6px;
}
.ete_radio_btn{
    padding-left: 17px;
    font-size: 12px;
}
.print_btn{
    margin-left: 600px;
}
.rc{
    width: 300px;
}
.pm_po{
    width: 140px;
    margin-left: 3px;
    margin-right: 7px;
}
.pm_form_container{
    width: 600px;
    float: left;
    margin-left:12px;
}
.pm1_form_container{
    width: 300px;
    float: left;
    margin-left:12px;
}
.pm_text_header{
    font-size: 10px;
    text-align: center;
}
.pm_tbl_labels{
    font-size: 10px;
    text-align: left;
}
.max_height{
    height: 30px !important;
}
.borderleft{
    border-left: 1px solid;
}
.borderbottom{
    border-bottom: 1px solid;
}
.borderright{
    border-right: 1px solid;
}
.bordertop{
    border-top: 1px solid;
}
.faplus{
    color: #c80b32;
    text-align: left;
}
.cc_form{
    padding-left: 348px;
    padding-bottom: 20px;
    font-size: 12px;
    font-weight: bold;
}
.inp{
    margin-left: 8px;
}
.print{
    width: 278px;
    float: left;
    padding-left: 808px;
}
.signatures{
    width: 912px;
    margin-left: 13px;
    background-color: #FFFFFF;
}
.label_required{
    color: #C60C30;
}
.training_details{
    margin-left: 398px;
}
.data{
    width: 120px;
}
.divMyRequests{
    width:220px;
}
.divAssess{
    width: 180px;
}
.back{
    height: 26px;
    font-size: 10px;
    font-weight: bold;
    width: 90px;
    background-color: #e9e7e9;
    margin-left: 208px;
}
.wrapper{
    width: 1100px;
}
.tbl_fonts{
    font-size: 12px;
}
.divtwobtn{
    width: 180px;
}
.divForprocessing{
    width: 190px;
}
.action_label{
    width: 80px;
    padding-left: 5px;
    margin-left: 15px;
    font-weight: bold;
    font-size: 14px;
}
.legend-action {
    background-color: #ffffff;
    font-weight: bold;
    margin-left: 11px;
    margin-top: -25px;
    position: absolute;
}
.btn_del{
    margin-bottom: 5px;
    margin-left: 10px;
}
.att_form_title{
    padding-left: 420px;
    padding-bottom: 20px;
    font-size: 12px;
    font-weight: bold;

}
.att{
    padding-top:2px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.attLine{
    margin-top:10px;
    border: 1px solid #717375;
    margin-left: 17px;
}
.attLine2{
    margin-top:10px;
    border: 1px solid #717375;
    margin-left: -42px;
}

.traindeta{
    padding-top:2px;
    font-size: 12px;
    font-weight: bold;
    padding-left: 4px;
}

.trainLine{
    margin-top:10px;
    border: 1px solid #717375;
    margin-left: 17px;
}
.trainLine2{
    margin-top:10px;
    border: 1px solid #717375;
    margin-left: -42px;
    width: 407px;
}
.capChar{
    text-transform: uppercase;
}
.back_buttons_spacing{
    height: 26px;
    font-size: 12px;
    font-weight: bold;
    background-color: #e9e7e9;
    width: 90px;
}



.assLine{
    margin-top:10px;
    border: 1px solid #717375;
    margin-left: 17px;
}
.assLine2{
    margin-top:10px;
    border: 1px solid #717375;
    margin-left: -42px;
}
.ass_label{
    padding-bottom: 20px;
    font-size: 12px;
    font-weight: bold;
    padding-left: 22px;
}
.desig_width{
    width: 432px;
}
.att_style{
    font-size: 11px;
}
.emp_select{
    width: 432px;
}
.pmarf_print{
    font-size: 12px;
    font-weight: bold;
}
.tboxprint{
    width: 500px;
}
.pmarfdivider{
    margin-top:10px;
    border: 1px solid #717375;
}
.sel_label{
    text-transform: none;
    font-weight: normal;
}
.printlabels{
    text-transform: none;
    font-weight: normal;
}

/*01242017*/
.border-none{
    border: none;
}





/*jm start of css*/
.labels2 
{
    margin-bottom: 5px; 
    font-weight: bold; 
    font-size: 12px;
}

.labels2.text-danger , p.labels2 , input.req
{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 12px;
    margin-left: 20px;
}

.labels3
{
    margin-bottom: 5px;
    font-size: 12px;
}

 .datepick
{
    width: 80px;
}

.cc[readonly]
{
    background-color: #eeeeee;
    border: 1px solid #cccccc;
}

.signatory_list{
    margin-bottom: 5px;
    font-size: 11px;
    padding-left: 17px;
    font-weight: normal;
}

.fileinput-button input {
    cursor: pointer;
    direction: ltr;
    font-size: 200px !important;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.fileinput-button {
    display: inline-block;
    overflow: hidden;
    position: relative;
}
input[type="file"] {
    display: block;
}

.labels2 
{
    margin-bottom: 5px; 
    font-weight: bold; 
    font-size: 12px;
}

@media (min-width:992px){.modal-lg{width:700px}}

.text-disable {
  color: #999999;
}

#service-modal input[type='text'], #service-modal select
{
    width: 160px;
}

#vehicle tr:hover td , #item tr:hover td, #office tr:hover td
{
    background-color: whitesmoke;
    cursor:pointer;
}


.col20_form_container {
    width: 725px;
    float: left;
    padding-left: 0px;
}

.sig_date
{
    width: 120px;
    text-align: center;;
}
.bg-gray
{
    background-color: gray;
    border:1px solid black;
}

.row10_form_container{
    width: 716px;
    float: left;
}

.comment_area
{
    padding: 3px 3px 3px 3px ;
    background-color: #bfbfbf;
    border: 1px solid whitesmoke;
    margin-bottom: 3px;
}

.comment_table
{
    width: 98%;
    border: 1px solid #b5b4b4;
}

.col21_form_container{
    width: 350px;
    float: left;
    padding-left: 17px;
    margin-left:12px;
}

.btndefault-size
{
    height: 26px;
    font-size: 10px;
    font-weight: bold;
    background-color: #e9e7e9;
}

.tabs-pmf .ui-tabs-panel
{
    padding: 0 !important;
}


.pmf-total_weigh{
    text-align: right;
    padding-top: 10px;
}
.pmf-overall_rate_po{
    text-align: right;
    padding-top: 10px;
}


.pmf-overall_rate {
    padding-left: 342px; 
    padding-top: 20px;
}

.tbl_pm_questions th , .th_style , .pmf-total_weigh , .pmf-overall_rate_po
{
    font-weight: bold !important;
    text-transform: uppercase; 
}

.detail_title
{
    width: 100%; 
    height: 10px;
    border-bottom: 1px 
    solid black; 
    text-align: center
}

.detail_title span
{
    font-size: 12px; background-color: #ebebeb; padding: 0 10px;font-weight:bold
}

.kpi-textarea
{
    width: 95%;
}

.button-witdh
{
    width: 70px;
}

.break
{
    word-wrap: break-word;
}

select:disabled
{
    background-color: rgb(235, 235, 228);
}

.kepp-all
{
    word-break: keep-all;
}

input[name='initiatedby[initiatedby_others]'] , .requirement_txt
{
    font-size: 12px;
}


/*Added by Jenary*/

.text-uppercase {
    text-transform: uppercase;
}
label.required {
    color: #ff0000 !important;
}

.bordered {
    border: 1px solid #d3d3d3;
    padding: 5px 12px 10px 12px;
}

.action-label {
    position:absolute;
    margin: -11px 0 0 30px;
    background: #f3f3f3;
    padding: 5px 10px 5px 10px;
}

.lined {
    display: inline-block;
    padding: 0 15px;
    position: relative;
}

.lined:before,
.lined:after {
    background: black;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    top: 50%;
    width: 400%;
}
.lined:before {
    right: 100%;
}
.lined:after {
    left: 100%;
}
.container-header {
    overflow: hidden;
    text-align: center;
}
/*data tables*/

.dataTables_filter,.dataTables_length label,.td_center,.columnheader,.dataTable,.dataTable button,.dataTables_paginate{
    text-transform: uppercase;
}

.dataTable th{
    font-size: 11px;
}

.dataTable td{
    text-align: center;
}

.dataTable {
    font-size: 13px;
}

.uppercase { text-transform: uppercase}

.btnDataTables {
    background-color: #e9e7e9;
}

#username {
    text-transform: lowercase;
}

.attachment-box {
    border: 1px solid rgba(118, 118, 118, 0.52);
    min-height: 150px;
    padding: 10px;
    background-color : #fff !important; /* Added by Jenary 24072017 */
}

.table th {
    font-weight: normal !important;
    font-size: 12px;
}

.textarea_form_container{
    width: 733px;
    float: left;
    padding-left: 0px;
}

.textarea_form_container textarea{
    width : 100%
}

/*from - to offset and cut time*/

.from {
    margin-left : 227px;
}
.to {
    margin-left : 60px;
}

/*End Jenary*/

[v-cloak] {
    display: none;
}





/*FOR MSR*/

.spacer {
    margin : 5px;
}

div.msr-form-container {
    width : 1100px !important;
}

div.msr-form-container input{
    text-transform: unset !important;
}

.row.employee-details {
    padding-left: 17px;
    padding-right: 17px;
}

.row.employee-details input{
    width : 239px;
}

.row.project-requirements {
    padding-left: 17px;
    padding-right: 17px;
}

input[type="radio"] {
    border : 1px solid black;
    margin : 0 !important;
}


.radio-label {
    font-size: 12px !important;
    font-weight: normal !important;
    margin-right: 30px;
}

.radio-label:last-child {
    margin-right: 0;
}

div.comment-box {
    border: 1px solid #c7c5c7;
    margin-top : 30px;
    margin-bottom : 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

div.comment-box textarea{
    margin-left : 10px;
    width: 800px;
    margin-bottom: 10px;
}

div.actions {
    margin-bottom : 10px;
}

/*******MOC********/

.project-requirements input[type='checkbox'] {
    margin : 0 0 2px 0!important;
}

.moc-list li{
    font-size: 12px;
    margin-bottom: 5px;
}

.moc-sidebar {
    border : 1px solid #cccccc;
    width: 35%;
    float : left;
    padding : 20px;
    margin-right : 2%;
}

.moc-main {
    border : 1px solid #cccccc;
    width: 63%;
    float : left;
    padding : 20px;
}

.moc-inner-sidebar {
    margin-top: 10px;
    width: 40%;
    float : left;
    margin-right : 2%;
}

.moc-inner-main {
    margin-top: 10px;
    width: 58%;
    float : left;
}

.moc-whole {
    padding: 20px 20px 20px 0;
}

.btndefault-wide{
    height: 26px;
    font-size: 10px;
    font-weight: bold;
    background-color: #e9e7e9;
}

/*added by jenary*/
.multiselect {
    font-size: 12px !important;
    text-transform: uppercase;
}
.table-bordered th,
.table-bordered td {
    border: 1px solid black !important;
}