label.required {
    color: #ad0011 !important;
}

span.module-header {
    margin-top: 10px;
    display: inline-block;
    font-size:14px;
    font-weight: bold;
}

.lined {
    display: inline-block;
    padding: 0 15px;
    position: relative;
}

.lined:before,
.lined:after {
    background: black;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    top: 45%;
    width: 400%;
}
.lined:before {
    right: 100%;
}
.lined:after {
    left: 100%;
}

span.module-sub-header {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 12px;
    font-weight: bolder;
}

label.required {
    color: #ad0011 !important;
}

.fileinput-button span{
    display: block; margin-left: 5px;margin-top: 0px;
    font-size : 12px;
    font-weight: normal;
}

/*DATATABLE FONT SIZE*/
.dataTables_filter,.dataTables_length label,.dataTables_info,.td_center,.columnheader,.dataTable,.dataTable button,.dataTables_paginate{
    text-transform: uppercase;
    font-size: 12px;
}

.dataTable th{
    font-size: 12px;
}

.dataTable td{
    text-align: center;
}

.dataTable {
    font-size: 12px;
}

table.dataTable tr.odd td.sorting_1 {
     background: none !important;
}

table.dataTable tr.even td.sorting_1 {
    background: none !important;
}

.list-title {
    font-weight: bold;
    font-size: 12px;
}


.dataTables_wrapper .dataTables_length label , .datatable_holder .dataTables_filter label
{
    font-weight: normal;
}

.dataTable button , .dataTable a
{
    font-size: 12px;
    font-weight: normal;;
}

.homeborder {
    border : 3px solid #D3D6FF;
    padding : 20px;
}